<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bstyle.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="form">
        <form action="">
        <label for="fname" class="left1">Name of Book:</label><br>
      
          <div class="custom-select" style="width:200px;">
        <select>
          <option value="0">Search for book:</option>
          <option value="1">The Prophet</option>
          <option value="2">The Prophet</option>
          <option value="3">The Prophet</option>
          <option value="4">The Prophet</option>
          <option value="5">The Prophet</option>
          <option value="6">The Prophet</option>
          <option value="7">The Prophet</option>
        </select>
      </div>
         
        <label for="datefrom" class="left2">Date from:</label>
        <input type="date" id="datefrom" name="datefrom" class="box2" value=" ">
          
           <label for="dateto" class="left3">Date to:</label>
        <input type="date" id="dateto" name="datefrom" class="box3">
          
           <label for="id" class="left4">User ID(lease): </label>
        <input type="text" id="id" name="id" class="box4">
        
        
        <input type="submit" value="ADD BOOK TO RENT" class="last_rectangle last_text">
      </form> 
      </div>
      
</body>
</html>